@import "tailwindcss";

:root {
  --background: #F2EBE0; /* Blush / Off-white */
  --foreground: #4A4A4A;
  
  --sage: #A7B7A4;
  --stone: #9A8C84;
  --sand: #E0D7CD;
  --blush: #F2EBE0;
}

@theme inline {
  --color-background: #F2EBE0;
  --color-foreground: #2D2D2D;
  --color-sage: #5F715B;
  --color-stone: #4A3F35;
  --color-sand: #D4C3B0;
  --color-blush: #F2EBE0;
  --color-vibrant: #C18C5D;
  --font-sans: var(--font-geist-sans);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-sans), Arial, Helvetica, sans-serif;
}
